button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background: #a2d7d5;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
}

.loadMore {
  margin: 0 auto;
  padding: 10px 22px;
}
